<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="stylesheets/hint.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- jQuery required for annotator.js -->
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <!-- jQuery migrate required for jQuery > 1.8 -->
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- annotator.js core -->
    <script src="http://assets.annotateit.org/annotator/v1.2.5/annotator-full.min.js"></script>
    <!-- annotator.js plugins -->
    <script src="http://assets.annotateit.org/annotator/v1.2.5/annotator.store.min.js"></script>
    <link rel="stylesheet" href="http://assets.annotateit.org/annotator/v1.2.5/annotator.min.css">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>RESTful OA</h1>
        <p>RESTful Open Annotation API specification</p>

        <p class="view"><a href="https://github.com/restful-open-annotation/spec">View the Project on GitHub</a></p>

	<!--
        <ul>
          <li><a href="https://github.com/restful-open-annotation/spec/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/restful-open-annotation/spec/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/restful-open-annotation/spec">View On <strong>GitHub</strong></a></li>
        </ul>
	-->
	<h3>Contents</h3>
	<div><a href="index.html">Home</a></div>
	<div><a href="quickstart.html">Quickstart</a></div>
	<div><a href="data-model.html">Data model</a></div>
	<div><a href="json-ld.html">JSON-LD</a></div>
	<div><a href="context.html">OA context</a></div>
	<div><a href="api-detail.html">API details</a></div>
	<div><a href="tools.html">Tools</a></div>
      </header>
      <section id="spec-content">

{{ content }}

      </section>
      <footer>
        <p><small class="transparent">Hosted on <a href="https://pages.github.com/">GitHub Pages</a> &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-60355901-1");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
    <script>
      jQuery(function ($) {
        $('#spec-content').annotator();

        document_uri = window.location.origin + window.location.pathname;
	// directory root and index.html should be treated the same
	document_uri.replace(/\/index\.html$/, '/');
        $('#spec-content').annotator('addPlugin', 'Store', {
          // The endpoint of the store on your server.
          prefix: 'http://weaver.nlplab.org:9321',

	  // Attach the uri of the current page to all annotations
          // to allow search.
          annotationData: {
            'uri': document_uri
	  },

          // This will perform a "search" action when the plugin loads. Will
          // request the last annotations for the current url.
          loadFromSearch: {
            'limit': 100,
            'uri': document_uri
          }
        });
      });
    </script>
  </body>
</html>
